/* Resset  */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    font-size: 15px;
}

#main{}
#header{
    height: 46px;
    background-color: #000;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
}

#nav{
    display: inline-block;
}

#nav, .subnav{
    list-style-type: none;
}
#nav > li{
    display:  inline-block;
}

#nav li{
    position: relative;
}

#nav > li > a{
    color: #fff;
text-transform: uppercase;
}

#nav li a{
    text-decoration: none;
    padding: 0 24px;
    line-height: 46px ;
    display:  inline-block;
}

#nav li:hover .subnav{
    display: block;
}

#nav > li:hover > a,
#nav .subnav li:hover a {
    color: #000;
    background-color: #ccc;
}
#nav .subnav{
    display: none;
    min-width: 160px; 
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
#nav .subnav a{
    color: #000;
    width: 100%;
    padding: 0 12px;
    line-height: 38px;
}
#nav .nav-arrow-down {
    font-size: 12px;
}

#header .btn-search{
    float: right;
    padding: 0 21px;
}
#header .btn-search:hover{
    background-color: #f44336;
}
#header .icon-search{
    color: #fff;
    font-size: 20px;
    line-height: 46px;
    cursor: pointer;

}


/* Slider  */
#slider{
    position: relative;
    margin-top: 46px;
    /* padding-top: 50%; */
}
#silder .mySliders{
    display: none;
}
#slider .mySliders img{
    vertical-align: middle;

}

/* #slider{
    position: relative;
    margin-top: 46px;
    padding-top: 50%;
    background: url(../img/slider/chicago.jpg) top center / cover no-repeat;
} */
#slider .text-content{
    position: absolute;
    bottom: 48px;
    color: #fff;
    left: 50%;
    text-align: center;
    width: 100%;
    transform: translateX(-50%);
}
#slider .text-heading{
    font-weight: 300;
    font-size: 24px;
    margin: 10px 0;
}

#slider .mySlides .text-description{
    font-weight: bold;
    font-size: 15px;
}
#content{

}
#content .content-section{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 64px 16px;
}
#content .content-section .section-heading{
    margin: 10px 0;
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 4px;
}
#content .content-section .section-sub-heading{
    margin: 15px 0;
    text-align: center;
    font-style:  italic;
    font-size: 15px;
    opacity: 0.5;

}
#content .content-section .about{
    margin: 15px 0;
    font-size: 15px;
}
#content .content-section .members-list{
    padding: 32px 0;
    display: flex;
    text-align: center;
}
#content .members-list .member-item{
    width: 33.3333%;
}

.members-list .member-item .member-name{
    margin: 15px 0;
    width: 100%;
    font-size: 15px;
    max-width: 15px 0;
}

.members-list .member-item .member-image{
    margin-bottom: 16px;
    height: 153px;
    border-radius: 4px;
}


/* Tour section */
#content .tour-section{
    color: #fff!important;
    background-color: #000;

}

.content-section .section-tickets{
list-style-type: none;

}
.content-section .section-tickets li{
    border-bottom: 1px solid #ddd;
    background-color: #fff;
    padding: 8px 16px;
    height: 39px;
    color: #757575;
}
.section-tickets li .span-right{
    color: #fff;
    float: right;
    margin-right: 16px;
    padding: 0 8px;
    background: #000;
    border-radius: 50%;
    font-size: 15px;
}
.section-tickets li .sold-out{
    color: #FFFFFF;
    background-color: #f44336;
    margin-left: 16px;
    padding: 0 8px;
}
.tour-section .content-section .tours_list{
    display: flex;
    padding: 32px 0px;
    margin: 0 -8px;
    width: auto;
}
.content-section .tours_list .tour-item{
    width: 33.33333%;
    padding: 0 8px;
    margin-bottom: 16px;
    
}

.tours_list .tour-item .tour-image{
    width: 100%;
}
.tours_list .tour-item .content-tour{
    width: 100%;
    padding: 0.15px 16px;
    color: #000;
    background-color: #fff;
    transform: translateY(-6px);
}
.tour-item .content-tour .tour-name,
.tour-item .content-tour .tour-decription,
.tour-item .content-tour .tour-date{
    margin: 15px 0;
    font-size: 15px;

}
.tour-item .content-tour .tour-name{
    font-weight: bold;
}
.tour-item .content-tour .tour-date{
    opacity: 0.4;
}
.tour-item .content-tour .btn-buy{
    margin-bottom: 16px;
    padding: 8px 16px;
    background: #000;
    color: #fff;
}
.tour-item .content-tour .btn-buy:hover{
    color: #000;
    background-color: #ccc;
    cursor: pointer;
}
/* Tickets modal  */
#ticketModal{
    z-index: 3;
    padding-top:100px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
}

  /* Thêm keyframes cho hiệu ứng mở từ trên xuống */
  @keyframes slideDown {
    from {
      transform: translateY(-100%);
    }
    to {
      transform: translateY(0);
    }
  }

#ticketModal .modal-content{
    animation: slideDown 0.4s;
    width: 50%;
    margin: auto;
    background-color: #FFFFFF;
    padding: 0;
    outline: 0;
}

#ticketModal .modal-content .header-modal{
    color: #fff;
    width: 100%;
    background-color: #009688;
    position: relative;
    padding: 32px 16px;
}
.modal-content .header-modal .btn-close-modal{
    position: absolute;
    right: 0;
    top: 0;
    padding: 8px 16px;
    cursor: pointer;
    font: 24px;
}
.modal-content .header-modal .title{
    text-align: center;
    margin: 10px 0;
    font-weight: bold;
    font-size: 30px;
    letter-spacing: 4px;
}
#ticketModal .modal-content .body-modal{
    width: 100%;
    padding: 0.15px 16px;
}
.modal-content .body-modal .label-input{
    width: 100%;
    margin: 15px 0;
}
.modal-content .body-modal .ticket-input{
    width: 100%;
    background: #FFFFFF;
    padding: 8px;
    border: 1px solid #ccc;
}
.modal-content .body-modal .btn-pay{
    width: 100%;
    background: #009688;
    color: #FFFFFF;
    margin: 16px 0;
    padding: 16px;
    border: none;
    cursor: pointer;
}
.modal-content .body-modal .btn-close{
    color: #FFFFFF;
    margin: 16px 0;
    padding: 8px 16px;
    background: #F44336;
    cursor: pointer;
    border: none;
}
.modal-content .body-modal .btn-pay:hover,
.modal-content .body-modal .btn-close:hover{
    color: #000;
    background-color: #ccc;
}
.modal-content .body-modal .need-help{
    margin: 15px 0;
    float: right;
    font-size: 15px;
}
.modal-content .body-modal .need-help a{
    color:#2196F3;
}



/* contact-section */
#content .content-section .section-contact{
    display: flex;
    font-size: 15px;
    padding: 32px 0;
}
.content-section .section-contact .infomation-contact{
    font-size: 18px;
    color: #000;
    width: 50%;
    margin-bottom: 16px;
}
.content-section .section-contact .form-contact{
    width: 50%;
    color: #000;
    font-size: 15px;

}
.form-contact .input-info{
    margin: 0 -16px 8px;
    padding: 0 8px;
    display: flex;
}
.form-contact .input-info .input-name,
.form-contact .input-info .input-email{
    padding: 0 8px;
    width: 50%;
}
.input-info .input-name .name,
.input-info .input-email .email{
    padding: 8px;
    border: 1px solid #ccc;

}
.form-contact .input-message{
    width: 99%;
    padding: 8px;
    border: 1px solid #ccc;

}
.form-contact .btn-send{
    float: right;
    margin: 16px 0;
    padding: 8px 16px;
    color: #FFFFFF;
    background: #000000;
    text-transform: uppercase;
    font: 15px ;
}
.form-contact .btn-send:hover{
    color: #000;
    background-color: #ccc;
    cursor: pointer;
}

#main .img-map{
    width: 100%;
    vertical-align: middle;
    border-style: none;

}

#footer{
    padding: 64px 16px;
    background: #f1f1f1;
    font: 24px;
    text-align: center;
    opacity: 0.6;
}
#footer .fa{
    display: inline-block;
    font-size: 24px;
    text-rendering: auto;
}
#footer .powered{
margin: 15px 0;
font-size: 15px;
}